<!DOCTYPE html>
<html lang="en">
    <head>
       <% include partials/header %>
    </head>

    <body>
        <% include partials/navbar %>


        <div class="jumbotron movies-home">
            <h1 id="movies-text">Movie Database</h1>
            <% if (userName) {%>
                <h3 id="movies-text">Welcome, <%= userName%></h3>
            <%} else {%>
                <h3 id="movies-text">Please <a href="/user/signup">sign-up</a> or <a href="/user/signin">login</a> to continue</h3>
            <%}%>

            <% if (queryString === 'loginFailure') {%>
                <h3 id="home-warning"><br/>You must be logged in to submit a rating!</h3>
            <%} else if (queryString === 'invalidLogin') {%>
                    <h3 id="home-warning"><br/>Invalid Username or Password!</h3>
            <%} else {%>
                <h3 id="home-warning"><br/><%= queryString%></h3>
            <%}%>
        </div>
    </body>





</html>
