<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Movies DB</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="/css/styles.css" rel="stylesheet">
    </head>


    <body>
        <header class="navbar navbar-bright navbar-fixed-top">
            <div class="container">
                <div class="row navbar">
                    <a href="/" class="navbar-brand col-2">Home</a>
                    <a href="/movies" class="navbar-brand col-2">Movies</a>
                    <a href="/user" class="navbar-brand col-2">Rate</a>
                <class="col-6"></class>
                </div>
            </div>
        </header>
        

        <div class="jumbotron" id="movies-home">
                <h1 id="movies-text">Sign In</h1>
                <form name="userSignup" action="/user/signin" method="post">
                    Username: <input name="username" id="username"/><br/>
                    Password: <input name="password" id="password"/><br/>
                    <input type="submit" value="Sign In" />
                </form>                
        </div>

    </body>
</html>
