<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/header %>
    </head>

    <body>
        <% include partials/navbar %>

        <div class="jumbotron" id="movies-home">
                <h1 id="movies-text">Submit a Rating</h1>
                <form name="submitRating" action="/user/rate" method="post">
                    Title: <input name="movieTitle" id="movieTitle"/><br/>
                    <input type="submit" value="Search " />
                </form>                
        </div>

    </body>
</html>
